body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
     font: inherit;
}

/* HEADER BLOCK START */

.header-nav-wrapper {
    display: flex;
    align-items: center;
    /* width: 100%;  */
    height: 70px;
    background: #313131;
}

.header-logo {
    display: flex;
    width: 27px;
    height: 27px;
    padding-left: 29px;
}

.logo-text {
    display: flex;
    align-items: center;

    font-weight: bold;
    font-size: 22px;
    padding-left: 27px;
    color: #FFFFFF;
    text-decoration: none;
}

.search-icon-wrapper {
    display: flex;

    margin-right: 0px;
    border: solid papayawhip;
}

.search-icon-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 68px;
    height: 70px;
    background: #000000;
}

.search-icon {
    display: flex; 

    text-align: center;
    width: 17px;
    height: 17px;
    background: #000000;
}

/* HEADER BLOCK END */

/* HEADER NAV START */

.header-nav {

}

.header-menu {
    display: flex;
}

.header-nav-item {
    display: flex;
    justify-content: center;
    border: 1px solid yellowgreen;
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-right: 35px;
}

.header-nav-item:hover {
    font-weight: 600;
    font-size: 15px;
    text-align: right;
    text-transform: uppercase;

    color: #14B9D5;
}

/* HEADER NAV END */