/* {
    font-family: sans-serif;
} */

body {
    font-family: sans-serif;
}
/* MAIN MENU START */
.menu {
    padding: 20px 0;
}
.main-menu {
    text-align: center;
}

.main-menu-item {
    display: inline-block;
    margin-right: 72px;
}

.main-menu-item-last {
    display: inline-block;
    margin-right: 0;
}

.main-menu-link {
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    text-decoration: none;
    color: #FF0000;
   
}

/* MAIN MENU END */

/* MAIN SECTION START */
.image {
    width: 100%;
    margin-bottom: 49px;
}

.content {
    text-align: center;
    width: 1145px;
    margin: 0 auto;
}

.content-title {
    /* font-family: Montserrat; */
    font-weight: bold;
    font-size: 22px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: #373737;
    text-align: center;
    margin-bottom: 38px;
}

.content-text {
    /* font-family: Montserrat; */
    /* font-weight: normal; */
    
    font-size: 16px;
    letter-spacing: 2.4px;
    text-align: center;
    color: #373737;
    
}

.content-text-1 {
    margin-bottom: 28px;
}

.content-text-2 {
    margin-bottom: 66px;
}

.btn-wrapper {
    text-align: center;
}

.btn {
    display: inline-block;
    width: 191px;
    height: 51px;
    border: none;
    border-radius: 4px; 

    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: white;
    padding: 0 auto;
   
    background: #FF0000;
    margin-bottom: 99px;
}
/* MAIN SECTION END */

/* FOOTER SECTION START*/

.footer {
    font-weight: bold;
    font-size: 16px;
    align-items: center;
    letter-spacing: 2.4px;

    color: #373737;
    text-align: right;
    padding: 82px 105px 29px 0;
}

/* FOOTER SECTION END*/

