a {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    font-family: sans-serif;
}

.logo {
    font-size: 80px;
    line-height: 94px;
    color: #000000;
    margin-bottom: 38px;
}

.blue-text {
    color: rgb(75,200,255)
}

/* HEADER NAV START */

.header-nav {
    height: 72px;
    background: #35444F;  
    margin-bottom: 50px;  
}

.header-menu {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.header-menu-item {
    height: 100%;
    border-left: 1px solid #FFFFFF;
    padding: 0 32px;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.header-hover:hover {
    background: #222F3A;
}

/* HEADER NAV END */

/* MAIN BLOCK START */
.main-content-wrapper {
    display: flex;
    justify-content: space-between;
}

.left-nav {
    display: flex;
    width: 344px;
    height: 399px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #000000;
}

.left-menu-item {
    display: flex;
    align-items: center;
    width: 342px;
    height: 81px;
    font-size: 27px;
    color: #485863;
    padding-left: 44px;
}

.left-menu-hover:hover {
    background-color: #DBDBDB;
    color: #35444F;
    padding-left: 74px;
  }

.right-content-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 885px;
    background: rgba(0, 0, 0, 0.0001);
}

.border-wrap-image {
    display: flex;
    justify-content: center;
    border: 1px solid #000000;
    width: 100%;
    height: 529px;
    margin-bottom: 37px;
}

.main-image {
    width: 100%;
    height: 100% ;
    display: flex;
    justify-content: center;
    
    transition: transform 1s;
}
  
.main-image:hover {
    transform: scale(1.4, 1.4);
  }

.right-content-text-wrapper {
    display: flex;
    flex-direction: column;
}

.right-content-text-1 {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 34px;
}

.right-content-text-2 {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 54px;
}

.wrap-image {
    display: flex;
    width: 320px;
    height: 381px;
    margin: 74px;
}
/* MAIN BLOCK END */

/* FOOTER BLOCK START */

  .footer-container {
    height: 69px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    background-color: rgba(99, 105, 110, 0.48);
}
  
  .footer-nav {
    font-size: 28px;
    line-height: 28px;
    padding-left: 25px;
    color: #0C1927;
  }

  .footer-menu {
    height: 100%;
    display: flex;
    justify-content: center;
  }

  .footer-menu-item {
    display: flex;
    align-items: center;
    padding: 0 15px ;
    color: #0C1927;
    font-size: 28px;
    line-height: 28px;
  }

  .footer-hover:hover {
    color: #3181A6;
  }
  
  .copyright {
    display: flex;
    align-items: center;  
    padding-right: 40px;
    font-size: 24px;
    line-height: 24px;  
    color: #010101;
  }

/* FOOTER BLOCK END */